<div class="row" style="background-color: #F9F9F9; border-radius:5px;border: 1px solid #E3E3E3;">
	<div class="col-lg-7 col-md-7 col-sm-7" style="background-color: white;border-radius: 5px;">
		<p></p>
		<div class="bio">
			<div class="video-container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/mY6dUq0WQ-I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>	
			</div>
		</div>			
	</div>
	<div class="col-lg-5 col-md-5 col-sm-5">
		<div class="contact">
			<%= render 'shared/contact' %>
		</div>
	</div>
</div>

<footer style="position: relative;
              height: 40px;
              right: 0;
              bottom: 0;
              left: 0;
              padding: 1rem;
              text-align: center;
              color:white;
              margin:15px 0;">
 <!--  &copy; Censation Band 2018 -->
</footer>