<div class="row" style="background-color: #F9F9F9; border-radius: 5px;">
	<div class="col-lg-7 col-md-7" style="background-color: white;border-radius: 5px;">
		<p></p>
		<div class="bio">
			<div class="video-container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/mY6dUq0WQ-I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>	
			</div>
		</div>			
	</div>
	<div class="col-lg-5 col-md-5">
		<div class="contact">
			<p>
				<p style="font-weight: bold;">Contact Info</p>

				<p>Call or email us at:</p>

				<p>1-510-378-1439</p>

				<p>censationband@yahoo.com</p>

				*Disclaimer: Members of the band shown on our website are subject to change without notice	
			</p>
		</div>
	</div>
</div>

