<div class="row card" style="border-radius:5px;border: 1px solid #E3E3E3;">
	<h3 class="text-center title"> Videos </h3>
	<div class="col-lg-12 col-md-12 col-sm-12" style="background-color: white;border-radius: 5px;">
		<p></p>
		<div class="bio text-center">
			<div class="video-container">
			   	<iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID?playlist=Fo3tl53ggBY,bzmXkXy60iI,LH_K21om6_U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		   </div>
		</div>	
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12" style="border-radius: 5px;">
		<div class="contact">
			<%= render 'shared/contact' %>
		</div>
	</div>
</div>

<footer style="position: relative;
              height: 40px;
              right: 0;
              bottom: 0;
              left: 0;
              padding: 1rem;
              text-align: center;
              color:white;
              margin:15px 0;">
  <!-- &copy; Censation Band 2018 -->
</footer>
