<div class="row card" style="border-radius:5px;border: 1px solid #E3E3E3;">
	<h3 class="text-center title"> Videos </h3>
	<div class="col-lg-12 col-md-12 col-sm-12" style="background-color: white;border-radius: 5px;">
		<p></p>
		<div class="bio text-center">
			<div class="video-container">
			   	<iframe width="560" height="315" src="https://www.youtube.com/embed/jlT08HaMt-s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			   	
			   <!-- 	<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLoYCgNOIyGABs-wDaaxChu82q_xQgUb4f" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
				<!--<%= image_tag('under-construction.png', class:'', style: "height:205px;", alt:"Card image cap") %> -->
		</div>	
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12" style="border-radius: 5px;">
		<div class="contact">
			<%= render 'shared/contact' %>
		</div>
	</div>
</div>

<footer style="position: relative;
              height: 15px;
              right: 0;
              bottom: 0;
              left: 0;
              padding: 1rem;
              text-align: center;
              color:white;
              margin:15px 0;">
  <!-- &copy; Censation Band 2018 -->
</footer>
