<div class="row" style="background-color: white; border-radius: 5px;">
	<div class="col-lg-7 col-md-7" style="border-radius: 5px;">
		<p></p>
		<div class="bio">
			<h1> Songs go here </h1>
		</div>	
	</div>
	<div class="col-lg-5 col-md-5 col-sm-12" style="background-color:#F9F9F9; border-radius: 5px;">
		<div class="contact">
			<p>
				<p style="font-weight: bold;">Contact Info</p>

				<p>Call or email us at:</p>

				<p>1-510-378-1439</p>

				<p>censationband@yahoo.com</p>

				*Disclaimer: Members of the band shown on our website are subject to change without notice	
			</p>
		</div>
	</div>
</div>
