/* ...
*= require font-awesome

*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Changa+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


@media (min-width: 1100px) { 
	.carousel img {
	 		min-width:100%;
	        object-fit: contain;
	}

	.carousel,.item,.active{
		min-height:100%;
	}

	.carousel-inner {
		min-height:100%;min-width:100%;
	}
}

.bio,
.contact {
	padding: 15px;
}

.bio-header-font {
	font-family: 'Changa One', cursive;
}

.bio-font {
	letter-spacing:1px;
	font-family: 'Roboto', sans-serif;
}


.fa {
	font-size:25px;
}

.fa-instagram {
	margin-left:3px;
	padding:5px;
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	color:white;
}
.fa-facebook {
	position:relative;
	top:5px;
	font-size:36px;
	color: #377BB5;
}

.fa-instagram,
.fa-facebook {
	border-radius:5px;
}


.centsation-bio {
	margin:0 23px; 
	letter-spacing: 1px;
}

html {
   height: 100%;
   box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: white; /* <—– change your color here*/
background-color: transparent;
}


body {
	background-image: url(background3.png);
	position: relative;
	padding: bottom 6rem;
	min-height: 100%;
}

.card {
	background-image: url(background2.png);
}

/*navbar*/
.navbar-default {
	background-color: transparent;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	border-bottom:1px solid #FED531;
}
.navbar-default .navbar-nav>li>a{
	font-family: 'Montserrat', sans-serif;
	color:gold;
}
.navbar-default .navbar-nav>li>a:hover {
	color:white;
	border-radius:5px;
}
.navbar-toggle {
	background-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: gold;
}

.navbar-default .navbar-nav>li>a{
	font-weight:bold;		
}


/*Responsive youtube*/
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Edit User*/
.edit-buttons ul li {
  display: inline-block;
  float: right;
  margin: 0px 5px;
  margin-bottom: 30px;
}

/*New Event / Edit Event*/
.sign-in,
.email,
.password,
.remember-me,
.login,
.add-event,
.new-event,
.edit-event,
.event-label,
.event-btn,
.edit-btn,
.delete-btn,
footer {
	font-family: 'Montserrat', sans-serif;
	text-align:center;
}

footer {
	text-align: center;
	color: gold;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 25px;
    padding: 1rem;
}


/*Carousel Fade*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.title {
	font-family: 'Monoton', cursive;
    color:black;
}

/*Profile Card*/

.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius:5px;
    background-image: url(background3.png);
}

.icons {
	line-height: 50px;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.name {
	color:#FED430;
}

.band-role {
	font-family: 'Montserrat', sans-serif;
	color:#FED430;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

/*Profile Card End*/

/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width: 767px) {
	.profile-card {
		text-align:center;
	}
	.calvin {
		margin-top:25px;
	}  
	.div.navbar-header::after {
		border: 1px solid #FED531;
	}
	.navbar-default {
		border-bottom: 1px solid #FED531;
	}		
	.navbar-default .navbar-nav>li>a {
		text-align: right;
	}
	.navbar-toggle {
		margin-top: 20px;
	}
	.carousel .item{
	    height: 320px;
	}
	.item img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    min-height: 320px;
	}
	.contact {
		text-align:center;
	}
	.contact-shows {
		position:relative; 
		bottom:35px;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.logo {
		position:relative;
		bottom:7px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size:11px; 
	}	
	.contact {
		text-align:center;
		padding-left: 15px;
	}
	.navbar-nav,
	.navbar-brand { 
	   margin:40px 0;
	}
 	.contact-about {
 		position:relative; 
 		bottom:30px;		
 	}
	.contact-shows {
 		position:relative; 
 		bottom:30px;
 	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	.logo {
		position:relative;
		bottom:10px;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.centsation-bio {
		margin:0 50px;
	}
	.logo {
		position:relative;
		bottom:10px;
	}
	.navbar-default {

	}
	.navbar-default .navbar-nav>li>a {
	   font-size:20px; 
	}
	.carousel .item{
	    height:500px;
	}
	.item img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    min-height:500px;
	}
 	.navbar-default .navbar-nav > li > a {
 		font-size: 95%;
 	}
 	.contact-about {
 		position:relative; 
 		bottom:30px;		
 	}
 	.contact-shows {
 		position:relative; 
 		bottom:12px;
 	}
}


