/* ...
*= require initaudioplayer-1.css
*= require slick-theme
*= require slick
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.carousel img {
    min-width: 100%;
}

html {
   height: 100%;
   box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: white; /* <—– change your color here*/
background-color: transparent;
}


body {
/*	background-image: url('https://images.unsplash.com/photo-1461784121038-f088ca1e7714?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fdb6ebf5fff5c45057753ff1191fa0be&auto=format&fit=crop&w=1650&q=80');
*/	background-color: black;
	position: relative;
	padding: bottom 6rem;
	min-height: 100%;
}

/*navbar*/

.navbar-default {
	background-color: transparent;
	border-color:transparent;
}
.navbar-default .navbar-nav>li>a{
	font-family: 'Montserrat', sans-serif;
	color:gold;
}
.navbar-default .navbar-nav>li>a:hover {
	color:white;
	border-radius:5px;
}
.navbar-toggle {
	background-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: gold;
}

.navbar-default .navbar-nav>li>a{
	font-weight:bold;		
}

.bio,
.contact {
	padding: 15px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Edit User*/
.edit-buttons ul li {
  display: inline-block;
  float: right;
  margin: 0px 5px;
  margin-bottom: 30px;
}

footer {
	text-align: center;
	color: gold;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 25px;
    padding: 1rem;
}


/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width: 767px) {  
	.navbar-default .navbar-nav>li>a {
		text-align: right;
	}
	.navbar-toggle {
		margin-top: 20px;
	}
	.carousel .item{
	    height: 320px;
	}
	.item img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    min-height: 320px;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.navbar-default .navbar-nav>li>a {
		font-size:15px; 
	}	
	.contact {
		padding-left: 15px;
	}
	.navbar-nav,
	.navbar-brand { 
	   margin:40px 0;
	}

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.navbar-default {

	}
	.navbar-default .navbar-nav>li>a {
	   font-size:20px; 
	}
	.carousel .item{
	    height:500px;
	}

	.item img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    min-height:500px;
	}
}