/* ...
*= require initaudioplayer-1.css
*= require slick-theme
*= require slick
*/
@import "bootstrap-sprockets";
@import "bootstrap";

.carousel img {
    min-width: 100%;
}

html {
   height: 100%;
   box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background-image: url('https://images.unsplash.com/photo-1461784121038-f088ca1e7714?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fdb6ebf5fff5c45057753ff1191fa0be&auto=format&fit=crop&w=1650&q=80');
	background-color: gray;
	position: relative;
	padding: bottom 6rem;
	min-height: 100%;
}

/*navbar*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.bio,
.contact {
	padding: 15px;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/*Edit User*/
.edit-buttons ul li {
  display: inline-block;
  float: right;
  margin: 0px 5px;
  margin-bottom: 30px;
}

footer {
	text-align: center;
	color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
}



/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width: 767px) {  
	.navbar-default {
		background-color:transparent !important;
		border-color:transparent;
		background-image:none;
		box-shadow:none;	
	}
	.navbar-default .navbar-nav>li>a {
		color: white;
		text-align: right;
		text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
	}
	.navbar-default .navbar-nav>li>a:hover {
		background-color: white;
		color: white;
	}
	.navbar-toggle {
		margin-top: 35px;
	}

	.navbar-brand {
		margin-top: 20px;
	}
	.carousel .item{
	    height: 320px;
	}

	.item img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    min-height: 320px;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.navbar-default {
		background-color:transparent !important;
		border-color:transparent;
		background-image:none;
		box-shadow:none;	
	}
	.navbar-default .navbar-nav>li>a {
		color: white;
		text-align: right;
	}
	.navbar-default .navbar-nav>li>a:hover {
		background-color: white;
		border-radius: 5px;
		color: black;
	}	
	.contact {
/*		border-left: 1px solid black;
		height: 575px;*/
		padding-left: 15px;
	}
	.navbar-default {
		background-color:transparent !important;
		border-color:transparent;
		background-image:none;
		box-shadow:none;	
	}
	.navbar-default .navbar-nav>li>a,
	.navbar-default .navbar-brand {
	   font-size:15px; 
	   color:#fff; 
	}
	.navbar-nav,
	.navbar-brand { 
	   margin:40px 0;
	}

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	.navbar-default {
		background-color:transparent !important;
		border-color:transparent;
		background-image:none;
		box-shadow:none;	
	}	

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.navbar-default {
		background-color:transparent !important;
		border-color:transparent;
		background-image:none;
		box-shadow:none;	
	}
	.navbar-default .navbar-nav>li>a,
	.navbar-default .navbar-brand {
	   font-size:20px; 
	   color:#fff; 
	}
	.navbar-default .navbar-nav>li>a:hover {
		background-color: white;
		border-radius: 5px;
		color: black;
	}	
	.navbar-nav,
	.navbar-brand { 
	   margin:40px 0 20px 0;
	}
	.carousel .item{
	    height:500px;
	}

	.item img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    min-height:500px;
	}
}