<div class="row" style="background-color: white; border-radius: 5px;">
	<div class="col-lg-7 col-md-7" style="border-radius: 5px;">
		<p></p>
		<div class="bio">
		   <!--  <audio controls id="audioPlayer" type="audio/mpeg">
		        Sorry, your browser doesn't support html5!
		    </audio>
		    <ul id="playlist">
		       <li class="current-song">
		        	<a href="<%= asset_path 'assets/SampleAudio_0.4mb.mp3' %>" type="audio/mpeg" controls>
		    			Centsation Band - Sample </a></li>
		        <li><a href="Severe%20Tire%20Damage.mp3">Severe Tire Damage</a></li>
		        <li><a href="Broken%20Reality.mp3">Broken Reality</a></li>
		    </ul> -->
		   	<iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/462861660&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
		</div>	
	</div>
	<div class="col-lg-5 col-md-5 col-sm-12" style="background-color:#F9F9F9; border-radius: 5px;">
		<div class="contact">
			<p>
				<p style="font-weight: bold;">Contact Info</p>

				<p>Call or email us at:</p>

				<p>1-510-378-1439</p>

				<p>censationband@yahoo.com</p>

				*Disclaimer: Members of the band shown on our website are subject to change without notice		
			</p>
		</div>
	</div>
</div>

<script>
	// loads the audio player
	audioPlayer();
</script>
