<div class="row" style="background-color: #F9F9F9; border-radius: 5px;;margin-bottom: 100px;">
	<div class="col-lg-7 col-md-7" style="background-color:white;border-radius: 5px;">
		<p></p>
		<div class="bio">
		   	<iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/462861660&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
		</div>	
	</div>
	<div class="col-lg-5 col-md-5 col-sm-12" style=" border-radius: 5px;">
		<div class="contact">
			<%= render 'shared/contact' %>
		</div>
	</div>
</div>
